<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/bootstrap-5.2.3-dist/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/src/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/bootstrap-5.2.3-dist/css/bootstrap-grid.min.css">
</head>

<body>
    <a href=""class="fab fa-facebook"></a>
    <div class="header row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <a href="#"><button>Login & Signup</button></a>
        </div>
        <div class="col-sm-6">
            <div >
                <a class="fab fa-facebook">F</a>
            </div>

        </div>
    </div>
</body>

</html>