.member{
  border: solid 3px rgb(56, 117, 230);
  width: 20%;
  text-align: center;
  margin: auto;
}
.ten{
  color: rgb(80, 136, 219);
}
.thanhvien{
  font-size: x-large;
}
.VIP{
  color:rgb(192, 158, 37);font-size: x-large;
}
.ngaythamgia{
  font-size: x-large;
}
.head{
  margin: 0 0 0 40px;
  padding: 0 0 0 120px;
  background-color: #fffcfc;
}
.batimkiem{
  text-align: center;
  /* padding-right: 10px; */
  padding: 40px 0 0 0;
  margin: 0px 0 0 -40px;
}
.batimkiem .timkiem{
  border-radius: 20px;
    height: 30px;
    width: 450px;
    
}
.dkdn{
  
  margin: 0 0 0 -100px;
  padding: 40px 0 0 0;
  text-align: center;
}
.baavatar .avatar{
  width: 80%;
  
  padding: 20px 0 0 40px;
}
.baavatar{
  text-align: center;
  margin: 0 0 0 40px
}
.menucon{
  padding: 0px 0 0 77px;
}
.bannercon{
  margin: 0 0 0 100px;
    width: 25%;
}
.banner{
  background-color: #00000054;
}
.AnhBenner{
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
  padding: 0 50px;
  height: 50px;
  width: 80%;
}

.headerLoai{
  
}
.lsp{
  margin-left: -420px;
  text-align: center;
  padding: 16px 0 0 0;
}
.xtc{
  margin-left: auto;
  padding-top: 15px;
  text-align: center;
}
.AnhSP{
  width: 50%;
}

.SanPham{
  border: 2px double black;
  text-align: center;
  margin: 10px;
  width: 60%;
  margin: 0 0 50px 70px;
}

.TopSP{
  margin-top: 10px;
  margin-bottom: -10px;
  width: 60%;
  margin-left: 45px;
}

.BottomSP{
  margin-top: -10px;
  margin-bottom: 10px;
  width: 60%;
  margin-left: 45px;
}

.Center1SP{
  margin-bottom: -10px;
  width: 60%;
  margin-left: 45px;
}
.Center2SP{
  width: 60%;
  margin-left: 45px;
}

.MenuSP{
  text-align: center;
}
.menu{
 
  margin: 0 0 40px -120px;
    text-align: center;
}
.Hbanner{
  text-align: center;
  
  background-color: #c5e4fd;
}
.bodyhead{
  text-align: center;
    margin: 0 0 20px 0;
}
.Body{

}
.bodySP{
  
}
.footer{
  background: #b5b5b5e3;
    text-align: center;
    padding: 0 0 100px 0;
}
.Hinhchitiet{
  width: 100%;
}
.ten-loai-san-pham{
  font-size: 30px;
    margin: 0 0 30px 0;
    background: #c5e4fd;
}
thead{
  text-align: center;
}



